[go-email]
local_folder=out
output_types=json,html,eml
wkhtmltopdf=/usr/bin/wkhtmltopdf

[account1]
oauth2=gmail
host=imap.gmail.com
username=example@gmail.com
password=
remote_folder=all
port=993
ssl=true
insecureskipverify=false

[account2]
oauth2=
host=
username=
password=
remote_folder=
port=
ssl=
insecureskipverify=